<ion-header>
  <!-- <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content>

  <ion-card *ngFor="let gozat of gozatList">

  <ion-item>
    <ion-thumbnail item-start>
      <img class="img-circle" [src]=gozat.pictureUrls.values[0]>
    </ion-thumbnail>
    <h1 text-wrap>{{gozat.formattedName}}</h1>
    <h2 text-wrap><ion-icon name="laptop"></ion-icon>
      {{gozat.positions.values[0].title}}</h2>
    <h2 text-wrap> <ion-icon name="home"></ion-icon>
      {{gozat.positions.values[0].company.name}}</h2>
  </ion-item>


  <ion-card-content *ngIf="gozat.summary">
    <p>{{gozat.summary}}</p>
  </ion-card-content>

  <ion-card-content *ngIf="!gozat.summary">
    <p >{{gozat.positions.values[0].summary}}</p>
  </ion-card-content>

  <!-- <ion-item no-margin> -->
  <ion-row margin-horizontal>
    <ion-col>
      <p>
      <ion-icon name="pin"></ion-icon>
      {{gozat.location.name}}</p>
    </ion-col>
    <ion-col center text-end>
      <p>
      <ion-icon name="briefcase"></ion-icon>
      {{gozat.positions.values[0].company.industry}}
    </p>
    </ion-col>
  </ion-row>
<!-- </ion-item> -->

  <ion-row>
    <ion-col  center text-center>
      <button ion-button icon-left clear large color='secondary'>
        <ion-icon name="thumbs-up"></ion-icon>
        <!-- <div>Beğen</div> -->
      </button>
    </ion-col>
    <ion-col  center text-center>
      <button ion-button icon-left large clear >
        <ion-icon name="repeat"></ion-icon>
        <!-- <div>Sonra Bak</div> -->
      </button>
    </ion-col>
    <ion-col center text-center>
      <button ion-button icon-left clear large color='danger'>
        <ion-icon name="thumbs-down"></ion-icon>
        <!-- <div>Beğenme</div> -->
      </button>
    </ion-col>
  </ion-row>

</ion-card>

</ion-content>
