<ion-header>

</ion-header>

<ion-content>

  <ion-fab bottom right small>
  <button ion-fab small>
  <ion-icon name="notifications"></ion-icon>
  </button>
</ion-fab>

  <div *ngIf="isEmpty" color="light">
    <p text-center color="light">
      Aradığınız kriterlere uygun profil bulunamadı.
    </p>
  </div>

  <ion-card *ngFor="let gozat of gozatList">

  <ion-item>
    <ion-thumbnail item-start>
      <img class="img-circle" [src]=gozat.pictureUrls.values[0]>
    </ion-thumbnail>
    <ion-row>
      <ion-col>
    <h1 text-wrap>{{gozat.formattedName}}</h1>
  </ion-col>

  </ion-row>
    <h3 text-wrap><ion-icon name="laptop" color="primary"></ion-icon>
      {{gozat.positions.values[0].title}}</h3>
    <h3 text-wrap> <ion-icon name="home" color="primary"></ion-icon>
      {{gozat.positions.values[0].company.name}}</h3>
  </ion-item>

  <ion-card-content *ngIf="gozat.summary">
    <p>{{gozat.summary}}</p>
  </ion-card-content>

  <ion-card-content *ngIf="!gozat.summary">
    <p >{{gozat.positions.values[0].summary}}</p>
  </ion-card-content>

  <ion-item>
  <ion-row>
    <ion-col>
      <p>
      <ion-icon name="pin" color="primary"></ion-icon>
      {{gozat.location.name}}</p>
    </ion-col>
    <ion-col center text-end>
      <p>
      <ion-icon name="briefcase" color="primary"></ion-icon>
      {{gozat.positions.values[0].company.industry}}
    </p>
    </ion-col>
  </ion-row>
</ion-item>
<!-- </ion-item> -->

<ion-list>
  <!-- <ion-list-header>
  </ion-list-header> -->
  <ion-item>
    <ion-note item-start> Uyum:</ion-note>
    <ion-badge item-end color="secondary">% {{gozat.puan}}</ion-badge>

    <ion-range item-end min="0" max="100" step="5" snaps="true" [(ngModel)]="gozat.puan" color="primary" disabled>
      <ion-icon range-left color="danger" name="help-circle"></ion-icon>
      <ion-icon range-right color="secondary" name="happy"></ion-icon>
    </ion-range>
  </ion-item>
</ion-list>

  <ion-row>
    <ion-col center text-center>
      <button ion-button icon-only clear large color='danger' (click)="dislike(gozat.id)">
        <ion-icon name="thumbs-down"></ion-icon>
        <!-- <div>Beğenme</div> -->
      </button>
    </ion-col>

    <ion-col center text-center>
      <button ion-button icon-only large clear (click)="goLinked(gozat.siteStandardProfileRequest.url)">
      <ion-icon name="logo-linkedin" large color="blue"></ion-icon>
    </button>
    </ion-col>

    <ion-col  center text-center>
      <button ion-button icon-only clear large color='secondary' (click)="like(gozat.id)">
        <ion-icon name="thumbs-up"></ion-icon>
        <!-- <div>Beğen</div> -->
      </button>
    </ion-col>
  </ion-row>

</ion-card>

<ion-infinite-scroll *ngIf="scrollEnable" (ionInfinite)="doInfinite($event)">
<ion-infinite-scroll-content
loadingText="Sonuçlar yükleniyor...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
