<ion-header>

</ion-header>

<ion-content>

  <!-- <ion-fab bottom right small>
  <button ion-fab small>
  <ion-icon name="notifications"></ion-icon>
  </button>
</ion-fab> -->

  <div *ngIf="isEmpty">
    <ion-item text-wrap>
    <ion-label>
      Aradığınız kriterlere uygun profil şimdilik yok. Kriterlerinizi güncelleyip deneyebilirsiniz :)
    </ion-label>
  </ion-item>
    <ion-row text-center>
      <ion-col>
        <img class="img-isguc"  src="assets/imgs/isgucvar.png" />
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="gozatList">
  <ion-card [@flyInOut]="gozat.state" *ngFor="let gozat of gozatList">
  <div>
      <ion-item>
    <ion-thumbnail item-start>
      <img class="img-circle" [src]=gozat.pictureUrl>
    </ion-thumbnail>
    <ion-row>
      <ion-col>
    <h1 text-wrap>{{gozat.formattedName}}</h1>
  </ion-col>

  </ion-row>
    <h3 text-wrap><ion-icon name="laptop" color="primary"></ion-icon>
      {{gozat.positions.values[0].title}}</h3>
    <h3 text-wrap> <ion-icon name="home" color="primary"></ion-icon>
      {{gozat.positions.values[0].company.name}}</h3>
  </ion-item>

  <ion-card-content *ngIf="gozat.summary">
    <p>{{gozat.summary}}</p>
  </ion-card-content>

  <ion-card-content *ngIf="!gozat.summary">
    <p >{{gozat.positions.values[0].summary}}</p>
  </ion-card-content>

  <ion-item>
  <ion-row>
    <ion-col>
      <p>
      <ion-icon name="pin" color="primary"></ion-icon>
      {{gozat.location.name}}</p>
    </ion-col>
    <ion-col center text-end>
      <p>
      <ion-icon name="briefcase" color="primary"></ion-icon>
      {{gozat.positions.values[0].company.industry}}
    </p>
    </ion-col>
  </ion-row>
</ion-item>
<!-- </ion-item> -->

<ion-list>
  <!-- <ion-list-header>
  </ion-list-header> -->
  <ion-item>
    <ion-note item-start color="dark">Uyum:</ion-note>
    <ion-badge item-end [color]="getColor(gozat.puan)">% {{gozat.puan}}</ion-badge>

    <ion-range item-start min="0" max="100" step="5" snaps="true" [(ngModel)]="gozat.puan" color="primary" disabled>
      <ion-icon range-left color="danger" name="help-circle"></ion-icon>
      <ion-icon range-right color="secondary" name="happy"></ion-icon>
    </ion-range>
  </ion-item>
</ion-list>

  <ion-row>
    <ion-col center text-center>
      <button ion-button icon-only clear large color='danger' (click)="dislike(gozat)">
        <ion-icon name="thumbs-down"></ion-icon>
        <!-- <div>Beğenme</div> -->
      </button>
    </ion-col>

    <ion-col center text-center>
      <button ion-button icon-only large clear (click)="goLinked(gozat.siteStandardProfileRequest.url)">
      <ion-icon name="logo-linkedin" large color="blue"></ion-icon>
    </button>
    </ion-col>

    <ion-col  center text-center>
      <button ion-button icon-only clear large color='secondary' (click)="like(gozat)">
        <ion-icon name="thumbs-up"></ion-icon>
        <!-- <div>Beğen</div> -->
      </button>
    </ion-col>
  </ion-row>
</div>

</ion-card>
</div>

<ion-infinite-scroll  (ionInfinite)="doInfinite($event)">
<ion-infinite-scroll-content
loadingText="Sonuçlar yükleniyor...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
