<!--
  Generated template for the MesajPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{to_name}} ile mesajlaş</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="cloneMessageList&&person">

  <form #mesajForm="ngForm">
  <!-- <ion-item-divider color="light">
    Mesaj Yaz:
  </ion-item-divider> -->
<!-- <ion-item>
  <ion-label floating>Konu (isteğe bağlı)</ion-label>
  <ion-input type="text" [(ngModel)]="konu" clearInput="true" name="konu">
  </ion-input>
</ion-item> -->
<ion-item>
  <ion-label floating>Mesaj</ion-label>
  <ion-textarea type="text" [(ngModel)]="mesaj" clearInput="true" name="mesaj" rows="2" required>
  </ion-textarea>
</ion-item>
<p>
</p>
<button ion-button block round icon-left [disabled]="!mesajForm.form.valid" (click)="send()">
  <ion-icon name="send"></ion-icon>
  Gönder
</button>
</form>

<p>
</p>
<ion-item-divider color="light">
  Mesajlarım:
</ion-item-divider>

<ion-list text-wrap>
  <ion-item-sliding *ngFor="let mesaj of messageListCl" #item>
  <ion-item>
    <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
    <ion-badge [color]="getColor(mesaj.from_name)">
      {{mesaj.from_name}}</ion-badge>
    <ion-note> {{mesaj.tarih | date:"dd/MM/yy HH:mm"}}</ion-note>
    <p>
      <b>{{mesaj.konu}}</b> - {{mesaj.text}}
    </p>
  </ion-item>

  <ion-item-options>
  <button ion-button color="danger" (click)="delete(item, mesaj)">
  <ion-icon name="trash"></ion-icon>
  Sil
</button>
</ion-item-options>
</ion-item-sliding>
</ion-list>
</div>
</ion-content>
