<ion-header>
  <ion-navbar>
    <ion-title>Kriterlerim</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <form #tercihForm="ngForm">

    <ion-item-divider color="light">
      <ion-badge>
      Uzmanlık Bilgileri
    </ion-badge>
      <ion-icon item-end color="primary" name="information-circle" (click)="infoPressed()"></ion-icon>
    </ion-item-divider>
  <ion-item>
  <ion-label floating>Pozisyon Seçin</ion-label>
  <ion-select [(ngModel)]="catid" interface="popover" cancelText="İptal" okText="Tamam" (ionChange)="getSubcat()" name="catid">
    <ion-option *ngFor="let catitem of cat; let i = index" value="{{catitem.id}}">{{catitem.id}}</ion-option>
  </ion-select>
  </ion-item>
  <!-- <button ion-button icon-only large clear (click)="goLinked()">
  <ion-icon name="logo-linkedin" large color="blue"></ion-icon>
</button> -->

<div *ngIf="subcatList && subcatList.length != 0">
    <ion-item>
    <ion-label floating>Uzmanlık Seçin</ion-label>
    <ion-select [(ngModel)]="subcatid" interface="popover" cancelText="İptal" okText="Tamam" name="subcatid">
      <ion-option *ngFor="let subcatitem of subcatList" value="{{subcatitem}}" (ionSelect)="addUzm()">{{subcatitem}}</ion-option>
    </ion-select>
    </ion-item>

    <!-- <button ion-button icon-start clear align="center" color="secondary"
          style="text-transform: none;"  (click)="addUzm()">
    <ion-icon name="add"></ion-icon>
          Ekle
      </button> -->
</div>

<div *ngIf="person.uzmanlik && person.uzmanlik.length != 0">
<ion-grid>
<ion-row *ngFor="let uzmanitem of person.uzmanlik">
  <ion-col col-8>
    <ion-item>
    <ion-label floating>Uzmanlık</ion-label>
    <ion-input type="text" [(ngModel)]="uzmanitem.id" readonly [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col col-2>
    <ion-item>
        <ion-label floating>Yıl</ion-label>
        <ion-input type="number" [(ngModel)]="uzmanitem.yil" min="1" max="40" required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  </ion-col>
<ion-col col-auto>
  <button ion-button small clear icon-only (click)="removeUzm(uzmanitem.id)">
<ion-icon name="close" color="danger"></ion-icon>
</button>
</ion-col>
</ion-row>
</ion-grid>
</div>

<ion-item-divider color="light">
<ion-badge>
  Mesleki Bilgi ve Beceriler
</ion-badge>
</ion-item-divider>

<!-- <ion-list> -->
<ion-item>
<ion-label floating>Mesleki Bilgi & Beceri Seçin</ion-label>
<ion-input type="text" [(ngModel)]="tagid"  [formControl]="searchControl" clearInput="true" name="tagid">
</ion-input>
</ion-item>

    <!-- <button ion-item *ngFor="let alltagitem of allTags" (click)="setTag(alltagitem.tag)">
        {{alltagitem.tag}}
    </button> -->
    <ion-item text-wrap>
      <ion-chip *ngFor="let alltagitem of allTags" (click)="setTag(alltagitem.tag)">
        <ion-label>{{alltagitem.tag}}</ion-label>
        </ion-chip>
    </ion-item>
<!-- </ion-list> -->

<!-- <div *ngIf="showTagEkle">
<button ion-button icon-start clear align="center" color="secondary"
style="text-transform: none;"  (click)="addTag()">
<ion-icon name="add"></ion-icon>
Ekle
</button>
</div> -->

<div *ngIf="person.tags && person.tags.length != 0">
<ion-grid>
<ion-row *ngFor="let tagitem of person.tags">
  <ion-col col-7>
    <!-- <ion-list> -->
    <ion-item>
    <ion-label floating>Bilgi & Beceri</ion-label>
    <ion-input #bilgi type="text" [(ngModel)]="tagitem.id" readonly [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  <!-- </ion-list> -->


  </ion-col>
  <ion-col col-2>
    <ion-item>
        <ion-label floating>Yıl</ion-label>
        <ion-input type="number" [(ngModel)]="tagitem.yil" min="1" max="40" required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  </ion-col>
<ion-col col-auto>
  <button ion-button small clear icon-only (click)="removeTag(tagitem.id)">
<ion-icon name="close" color="danger"></ion-icon>
</button>
</ion-col>
</ion-row>
</ion-grid>

</div>

<ion-item-divider color="light">
<ion-badge>
  Diğer Bilgiler
</ion-badge>
</ion-item-divider>
<ion-item>
<ion-label floating>Çalışma Tipi</ion-label>
<ion-select [(ngModel)]="person.tip" multiple="true" cancelText="İptal" okText="Tamam" required name="persontip">
  <ion-option value="Tam Zamanlı">Tam Zamanlı</ion-option>
  <ion-option value="Proje Bazlı">Proje Bazlı</ion-option>
  <ion-option value="Stajyer">Stajyer</ion-option>
</ion-select>
</ion-item>

<ion-item>
    <ion-label floating>Aylık net maaş beklentisi (TL)</ion-label>
    <ion-input type="number" [(ngModel)]="person.maas" min="0" required name="personmaas"></ion-input>
</ion-item>

<ion-item-divider color="light">
<ion-badge>
  Çalışılacak Lokasyon
</ion-badge>
</ion-item-divider>
<ion-item>
<ion-label floating>Şehir</ion-label>
<ion-select  [(ngModel)]="person.sehir" multiple="true" interface="popover" required cancelText="İptal" okText="Tamam" name="personsehir">
  <ion-option *ngFor="let item of sehirler" value='{{item}}'>{{item}}</ion-option>
</ion-select>
</ion-item>

<ion-item-divider color="light">
  <ion-badge>
  İletişim Bilgileri
</ion-badge>
</ion-item-divider>
<ion-item>
  <ion-label floating>Email</ion-label>
  <ion-input type="text" [(ngModel)]="person.emailAddress" required name="personemail"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Telefon (isteğe bağlı)</ion-label>
  <ion-input type="text" [(ngModel)]="person.telefon" name="persontelefon"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>GitHub linki (isteğe bağlı)</ion-label>
  <ion-input type="url" [(ngModel)]="person.github" name="github"></ion-input>
</ion-item>
<p>
</p>
<button ion-button block icon-start [disabled]="!tercihForm.form.valid" (click)="presentSave()" color="secondary">
  <ion-icon name="create"></ion-icon>
  Güncelle
</button>
</form>

</ion-content>
